*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheard style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-size: 900;
}
.font-color-r{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 19px 35px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.section-headingt{
    max-width: 827px;
    text-align: center;
}
.section-headingt h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-headingt p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
    
}
nav{
    width: 71%;
    max-width: 1140%;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
font-size: 20px;
color: #474747;
text-decoration: none;
}
#bannar{
    border: 1px solid rebeccapurple;
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar.bannar-content{
    max-width: 585px;
}
.bannar-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
.bannar-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 28px;

}
.bannar-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    
}
.bannar-img img{
    max-width:584px ;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
.about-countainar{
    width: 71%;
    max-width: 1140%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.card{
    display: flex;
    justify-content: space-around;
}
.about-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-card h4{
    font-size: 20px;
}
#skills{
    padding-top: 130px;

}
.skill-countainar{
    width: 71%;
    max-width: 1140%;
    margin: 0 auto;
}

