*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheard style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-size: 900;
}
.font-color-r{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 19px 35px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140%;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
font-size: 20px;
color: #474747;
text-decoration: none;
}
